In [3]:
import pandas as pd
splits = ['train', 'dev', 'test']
for d in splits:
    df = pd.read_json(f'/Users/macoftraopia/Documents/GitHub/KGNarrative/Datasets/DWIE/4experiment/full_{d}.json')
    print(d, len(df))

train 526
dev 92
test 85

In [4]:
splits = ['train', 'dev', 'test']
for d in splits:
    df = pd.read_json(f'/Users/macoftraopia/Documents/GitHub/KGNarrative/Datasets/WebNLG/4experiment/poppati_stupidi/pop_{d}.json')
    print(d, len(df))

train 1250
dev 267
test 334

In [57]:
names=['train  ', '   dev', 'test  ']
dd=({'A': [names,names], 'B': ['names','td']})

import pandas as pd
df1=pd.DataFrame(dd)
df1

                           A      B
0  [train  ,    dev, test  ]  names
1  [train  ,    dev, test  ]     td

In [58]:
df1['4'] = df1['A'].apply(lambda x: " | ".join(map(str.strip,x)))
df1['5'] = df1['A'].apply(lambda x: " | ".join(x))

In [59]:
df1

,A,B,4,5
0,"[train , dev, test ]",names,train | dev | test,train | dev | test
1,"[train , dev, test ]",td,train | dev | test,train | dev | test